* {
  font-family: Ubuntu, sans-serif;
}

.date {
  padding: 0 3px 0 0;
  color: var(--first-color-dark);
  font-size: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dateHM {
  margin-bottom: 3px;
  font-weight: 500;
  color: var(--first-color-dark);
}

.dateDMY {
  font-weight: 500;
  font-size: 8px;
}
