@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Rubik+Bubbles&family=Rubik+Wet+Paint&display=swap');

::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.galery {
  width: 100px;
  height: 200px;
  background: rgb(50, 43, 43);
  
}

.wrapper {
  height: calc(100vh - 100px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0 100px;
  row-gap: 20px;
}

.body {
  margin: 15px 0 0 0;
  padding: 0 10px;
  transition: border-color 200ms linear;
  border: 5px solid var(--second-color);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url("../../imgs/forestbw.jpg"), linear-gradient(0deg, var(--background-first-color) 20%, var(--background-second-color) 70%);
	background-blend-mode: multiply;
}

.item {
  padding: 7px;
  border-radius: 20px;
  background: var(--message-color);
  max-width: 50%;
  height: auto;
  min-height: auto;
  word-wrap: break-word;
  overflow-y: auto;
  color: var(--text-color-lightest);
}

.avatar{
  border: 1px solid var(--second-color);
}

.name {
  margin: 7px 7px 0 7px;
  font-size: 18px;
  font-weight: 700;
  color: var(--first-color);
}

.text {
  margin: 3px;
}

.bottomItem {
  margin: 0;
}

.arrow {
  margin: 0 0 0 auto;
  position: relative;
  right:  15px;
  bottom: 70px;
  border: 3px solid var(--second-color-light);
  border-radius: 50%;
  color: var(--first-color-light);
  background-color: var(--arrow-color);
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--text-color);
  border-radius: 10px;
}

.bottomInfoWrapper {
  display: flex;
  justify-content: flex-end;
}

.like {
  padding: 1px;
  margin-right: 0.5rem;
  position: relative;
  top: 0px;
  color: rgb(176, 15, 15);
  border-radius: 50%;
  animation: likeAppearance  0.4s linear 
  alternate running 0s none; 
}

@keyframes likeAppearance {
  0% {
    color: rgba(176, 15, 15, 0.2);
    transform: scale(0.7);
  }
  25% {
    background: #b00e1375;
  }
  50% {
    background: none;
  }
  75% {
    background: #b00e1375;
    color: rgba(176, 15, 15, 0.5);
    transform: scale(1.2);
  }
  100% {
    border-radius: 50%;
    background: none;
    color: rgba(176, 15, 15. 1);
    transform: scale(1);
  }
}

@media(max-width: 992px) {
  .wrapper {
    height: calc(100vh - 80px);
  }
  .body {
    margin: 12px 0 0 0;
  }
} 

@media(max-width: 767px) {
  .body {
    margin: 10px 0 0 0;
  }

  .avatar{
    width: 32px;
    height: 32px;
  }
  
  .name {
    margin: 7px 5px 0 5px;
    font-size: 18px;
  }
  
  .text {
    margin: 3px;
    font-size: 16px;
  }
} 

@media(max-width: 600px) {
  .wrapper {
    padding: 3px 0;
    height: calc(100vh - 60px);
    row-gap: 10px;
  }

  .body {
    padding: 0 1px;
    border: 3px solid var(--second-color)
  }
  .item {
    padding: 5px;
    max-width: 97.5%;
  }
  
  .avatar{
    width: 30px;
    height: 30px;
  }
  
  .name {
    margin: 7px 5px 0 5px;
    font-size: 18px;
  }
  
  .text {
    margin: 3px;
    font-size: 16px;
  }

  .arrow {
    right:  15px;
    bottom: 60px;
  }
}

@media(max-width: 450px) {
  .wrapper {
    margin: 5px 0 0 0;
    height: calc(100vh - 62px);
    row-gap: 8px;
  }

  .body {
    margin: 5px 0 0 0;
  }

  .avatar{
    width: 24px;
    height: 24px;
  }
  
  .name {
    margin: 7px 0px 0 3px;
    font-size: 17px;
  }
  
  .text {
    margin: 2px;
    font-size: 15px;
  }
}

@media(max-width: 350px) {
  .wrapper {
    row-gap: 3px;
  }

  .item {
    padding: 3px;
  }
  
  .avatar{
    width: 24px;
    height: 24px;
  }
  
  .name {
    margin: 8px 0px 0 2px;
    font-size: 16px;
  }
  
  .text {
    margin: 2px;
    font-size: 15px;
  }
}

@media(max-width: 300px) {
  .item {
    padding: 3px;
  }
  
  .avatar{
    width: 20px;
    height: 20px;
  }
  
  .name {
    margin: 8px 0px 0 2px;
    font-size: 16px;
  }
  
  .text {
    margin: 2px;
    font-size: 15px;
  }
}



