@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Rubik+Bubbles&family=Rubik+Wet+Paint&display=swap');

:root {
  --first-color: #4FBAA7;
  --second-color: #530B43;
  --second-color-light: #28001f;
  --third-color: #8dbaad;
  --fourth-color: #187358;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.wrapper {
  height: auto;
  margin: 0 auto;
  width: 100%;
}

.body {
  margin: 1% 0;
  margin-bottom: 15px;
  padding: 0 10px;
  border: 5px solid var(--second-color);
  border-radius: 20px;
  width: 100%;
  height: 65vh;
  overflow-y: auto;
  background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url("../../imgs/forestbw.jpg"), linear-gradient(0deg, rgb(30, 26, 53) 20%, rgb(37, 52, 74) 70%);
	background-blend-mode: multiply;
}

.item {
  padding: 7px;
  border-radius: 20px;
  background: rgb(50, 43, 43);
  max-width: 50%;
  height: auto;
  min-height: auto;
  word-wrap: break-word;
  overflow-y: auto;
  color: rgb(239, 207, 207);
}

.avatar{
  border: 1px solid var(--second-color);
}

.name {
  margin: 7px 7px 0 7px;
  font-size: 18px;
  font-weight: 700;
  color: var(--first-color);
}

.text {
  margin: 3px;
}

.inputWrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  box-sizing: content-box;
  border: none;
}

.input {
  padding: 10px 50px 0 10px;
  height: auto;
  color: rgb(255, 247, 247);
  font-size: 18px;
  width: 100%;
  border: 5px solid var(--second-color);
  border-radius: 20px;
  background: #06796b;
  line-height: 1.5;
  letter-spacing: 0.7px;
  resize: none;
  font-weight: 400;
}

.input:focus,
.input:active {
  border: 5px solid var(--second-color);
  background: #043c3f;
}

.input::placeholder {
  color: #c1bac4;
  font-size: 16px;
}

.button {
  position: relative;
  top: -67px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none; 
  color:#fff;
  stroke: #fff;
}

.button:hover,
.button:active { 
  stroke: #ae9bb4;
}

.bottomItem {
  margin: 100px;
  background: transparent;
}

/* .avatarWrapper {
 width: 100px;
 height: 100px;
} */

@media(max-width: 767px) {
  .body {
    margin: 2% 0;
    height: 70vh;
  }
  .wrapper {
    margin-top: 7px;
  }
  .avatar{
    width: 32px;
    height: 32px;
  }
  
  .name {
    margin: 7px 5px 0 5px;
    font-size: 18px;
  }
  
  .text {
    margin: 3px;
    font-size: 16px;
  }
  .input {
    padding: 10px 55px 0 10px;
  }
  .button {
    right: 20px;
    font-size: 18px;
  }
} 

@media(max-width: 600px) {
  .body {
    margin: 2% 0;
    height: 73vh;
  }
  .wrapper {
    margin-top: 5px;
  }
  .body {
    padding: 0 1px;
    border: 3px solid var(--second-color)
  }
  .item {
    padding: 5px;
    max-width: 97.5%;
  }
  
  .avatar{
    width: 30px;
    height: 30px;
  }
  
  .name {
    margin: 7px 5px 0 5px;
    font-size: 18px;
  }
  
  .text {
    margin: 3px;
    font-size: 16px;
  }

  .input {
   
    font-size: 16px;
    border: 3px solid var(--second-color)
  }

  .input:focus {
    border:3px solid var(--second-color);
  }
  
  .input::placeholder {
    font-size: 14px;
  }
  .input {
    padding: 8px 50px 0 8px;
  }
  .button {
    top: -58px;
    right: 12px;
  }
  .icon {
    width: 30px;
  }
}

@media(max-width: 450px) {
  .body {
    padding: 0 1px;
    height: 73vh;
  }

  .avatar{
    width: 24px;
    height: 24px;
  }
  
  .name {
    margin: 7px 0px 0 3px;
    font-size: 17px;
  }
  
  .text {
    margin: 2px;
    font-size: 15px;
  }

  .button {
    right: 10px;
  }

  .input {
    padding: 7px 35px 0 7px;
    font-size: 16px;

  }
  
  .input::placeholder {
    font-size: 13px;
  }
  .icon {
    width: 28px;
  }
}

@media(max-width: 350px) {
  .item {
    padding: 3px;
  }
  
  .avatar{
    width: 24px;
    height: 24px;
  }
  
  .name {
    margin: 8px 0px 0 2px;
    font-size: 16px;
  }
  
  .text {
    margin: 2px;
    font-size: 15px;
  }


  .input {
    padding: 7px 33px 0 7px;
    font-size: 15px;
  }
  
  .input::placeholder {
    font-size: 13px;
  }
  .icon {
    width: 28px;
  }
}


