@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Rubik+Bubbles&family=Rubik+Wet+Paint&display=swap');

:root {
  --first-color: #4FBAA7;
  --second-color: #530B43;
  --second-color-dark: #28001f;
  --second-color-light: #4a163e;
  --third-color: #8dbaad;
  --fourth-color: #187358;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.wrapper {
  height: calc(100vh - 100px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0 100px;
  row-gap: 20px;
}

.body {
  margin: 15px 0 0 0;
  padding: 0 10px;
  border: 5px solid var(--second-color);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url("../../imgs/forestbw.jpg"), linear-gradient(0deg, rgb(66, 72, 10) 20%, rgb(79, 87, 146) 70%);
	background-blend-mode: multiply;
}

.item {
  padding: 7px;
  border-radius: 20px;
  background: rgb(50, 43, 43);
  max-width: 50%;
  height: auto;
  min-height: auto;
  word-wrap: break-word;
  overflow-y: auto;
  color: rgb(239, 207, 207);
}

.avatar{
  border: 1px solid var(--second-color);
}

.name {
  margin: 7px 7px 0 7px;
  font-size: 18px;
  font-weight: 700;
  color: var(--first-color);
}

.text {
  margin: 3px;
}

.bottomItem {
  margin: 0;
}

.arrow {
  margin: 0 0 0 auto;
  position: relative;
  right:  15px;
  bottom: 70px;
  border: 3px solid rgb(72, 52, 70);;
  border-radius: 50%;
  color: rgba(121, 202, 202, 0.873);
  background-color:rgba(172, 87, 200, 0.218);
  width: 40px;
  height: 40px;
}

/* .imgWrapper {
  position: relative;
  width: 50vw;
  height: 50vh;
}

.img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

.img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--second-color);
  border-radius: 10px;
}

@media(max-width: 992px) {
  .wrapper {
    height: calc(100vh - 80px);
  }
  .body {
    margin: 12px 0 0 0;
  }
} 

@media(max-width: 767px) {
  .body {
    margin: 10px 0 0 0;
  }

  .avatar{
    width: 32px;
    height: 32px;
  }
  
  .name {
    margin: 7px 5px 0 5px;
    font-size: 18px;
  }
  
  .text {
    margin: 3px;
    font-size: 16px;
  }
} 

@media(max-width: 600px) {
  .wrapper {
    padding: 3px 0;
    height: calc(100vh - 60px);
    row-gap: 10px;
  }

  .body {
    padding: 0 1px;
    border: 3px solid var(--second-color)
  }
  .item {
    padding: 5px;
    max-width: 97.5%;
  }
  
  .avatar{
    width: 30px;
    height: 30px;
  }
  
  .name {
    margin: 7px 5px 0 5px;
    font-size: 18px;
  }
  
  .text {
    margin: 3px;
    font-size: 16px;
  }

  .arrow {
    right:  15px;
    bottom: 60px;
  }
}

@media(max-width: 450px) {
  .wrapper {
    margin: 5px 0 0 0;
    height: calc(100vh - 62px);
    row-gap: 8px;
  }

  .body {
    margin: 5px 0 0 0;
  }

  .avatar{
    width: 24px;
    height: 24px;
  }
  
  .name {
    margin: 7px 0px 0 3px;
    font-size: 17px;
  }
  
  .text {
    margin: 2px;
    font-size: 15px;
  }
}

@media(max-width: 350px) {
  .wrapper {
    row-gap: 3px;
  }

  .item {
    padding: 3px;
  }
  
  .avatar{
    width: 24px;
    height: 24px;
  }
  
  .name {
    margin: 8px 0px 0 2px;
    font-size: 16px;
  }
  
  .text {
    margin: 2px;
    font-size: 15px;
  }
}

@media(max-width: 300px) {
  .item {
    padding: 3px;
  }
  
  .avatar{
    width: 20px;
    height: 20px;
  }
  
  .name {
    margin: 8px 0px 0 2px;
    font-size: 16px;
  }
  
  .text {
    margin: 2px;
    font-size: 15px;
  }
}



