.date {
  padding: 0 3px 0 0;
  color: var(--first-color-light);
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dateHM {
  font-weight: 700;
  color: var(--first-color-light);
}

.dateDMY {
  font-weight: 600;
  font-size: 8px;
}