@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&family=Poppins:wght@400;500;600&family=Rubik:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap');
::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

.formWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  auto auto;
}

.form {
  overflow: hidden;
  width: 100%;
  height: auto;
  display: grid;
  align-items: center;
  box-sizing: content-box;
  border: none;
  grid-template-columns:auto 1fr auto auto;
  background: var(--first-color);
  border-top: 5px solid var(--second-color);
  column-gap: 20px;
}

.textarea {
  margin: 0;
  padding: 5px 0;
  border: none;
  border-radius: 0;
  height: auto;
  color: var(--text-color);
  font-size: 17px;
  width: 100%;
  border-radius: 10px;
  background: var(--first-color);
  line-height: 1.5;
  letter-spacing: 0.7px;
  resize: none;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  font-family: Tahoma, sans-serif;
}

.textarea:focus,
.textarea:active {
  outline: none;
}

.textarea::placeholder {
  color: var(--placeholder-color);
  font-size: 16px;
}

.button {
  margin: 0 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none; 
  stroke: var(--second-color);
  cursor: pointer;
}


.button:hover,
.button:active { 
  stroke: var(--second-color-light);
}

.moodIcon {
  display:flex;
  align-items: center;
  border-radius: 50%;
  transform: scale(1.1);
  background: transparent;
  color: var(--second-color);
  border: none;
}

.icon {
  color:var(--second-color);
  transform: scale(1.5);
}

.icon:hover,
.icon:active {
  color:var(--second-color-light);
}

.label {
  margin: 0 0 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-light);
  display: flex;
  cursor: pointer;
}

.fileInput {
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.imgPreviewWrapper {
  position: relative;
  width: 80px;
  height: 80px;
  font-size: 1px;
  line-height: 0;
}

.imgPreview {
  position: absolute;
  right: 0;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: block;
}

@media(max-width: 767px) {
  .form {
    column-gap: 12px;
  }

  .button {
    font-size: 18px;
  }

  .label {
    padding: 0 5px;
  }
}

@media(max-width: 600px) {
  .form {
    border-top: 3px solid var(--second-color);
    column-gap: 10px;
  }

  .textarea {
    margin: 0;
    padding: 3px 0;
    height: 60px;
    font-size: 16px;
    border: none;
    border-radius: 0;
  }
  
  .textarea::placeholder {
    font-size: 14px;
  }

  .textarea {
    padding: 8px 3px;
  }
  
  .icon {
    transform: scale(1.15);
  }

  .button {
    padding: 0;
  }

  .imgPreviewWrapper {
    width: 55px;
    height: 55px;
  }
}

@media(max-width: 450px) {
  .form {
    column-gap: 3px;
  }

  .button {
    padding: 0;
    margin: 0 5px 0 0;
  }

  .icon {
    transform: scale(1);
  }

  .label {
    grid-column: 3;
    grid-row: 1;
  }

  .moodIcon {
    margin: 0 0 0 5px;
    padding: 0;
    grid-column: 1;
    grid-row: 1;
  }

  .textarea {
    margin: 0;
    padding: 2px 3px 0 3px;
    height: 47px;
    font-size: 16px;
    border: none;
    border-radius: 0;
  }
  
  .textarea::placeholder {
    font-size: 13px;
  }

  .textarea:focus,
  .textarea:active {
    outline: none;
    border: none;
  } 
  
  .icon {
    width: 28px;
  }
  
  .imgPreviewWrapper {
    width: 40px;
    height: 40px;
  }

  .imgPreview {
    border: none;
    border-radius: 5px;
  }
}

@media(max-width: 350px) {
  .textarea {
    padding: 3px;
    font-size: 15px;
  }
  
  .textarea::placeholder {
    font-size: 13px;
  }

  .icon {
    width: 28px;
  }
}

@media(max-width: 300px) {
  .textarea {
    padding: 5px 0;
    font-size: 15px;
  }
  
  .textarea::placeholder {
    font-size: 13px;
  }

  .icon {
    width: 28px;
  }

  .imgPreviewWrapper {
    width: 40px;
    height: 40px;
  }
}

