@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,800&display=swap');

:root {
  --first-color: #4FBAA7;
  --second-color: #530B43;
  --second-color-light: #710d5b;
  --third-color: #8dbaad;
  --fourth-color: #187358;
}

* {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

.wrapper {
  width: 600px;
  height: 150px;
}

.button {
  width: 360px;
  height: 80px;
  background: var(--fourth-color);
  border-radius: 30px;
  font-size: 30px;
  font-weight: 600;
  color: rgb(246, 246, 246);
  box-sizing: border-box;
  box-shadow: none;
  border: 5px solid #fff;
}

.button:hover,
.button:active {
  color:rgb(243, 158, 38);
  box-sizing: border-box;
  box-shadow: none;
  border: 5px solid rgb(243, 158, 38);
  background: #06503a;;
}