@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,800&display=swap');

:root {
  --first-color: #4FBAA7;
  --second-color: #530B43;
  --second-color-light: #710d5b;
  --third-color: #8dbaad;
  --fourth-color: #187358;
}

* {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

.wrapper {
  position: relative;
  z-index: 1000;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(3, 1fr);
  row-gap: 20px; 
}

.item {
  background: var(--fourth-color);
  border-radius: 5px;
  border: 5px solid #ddd;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.item:hover,
.item:active {
  color:#fff;
  box-sizing: border-box;
  box-shadow: none;
  border: 5px solid #fff;
  background: #088b63;
  fill:rgb(187, 31, 31);
}

.button:hover,
.button:active {
  color:#fff;
}

.button {
  padding: 15px 0;
  font-size: 25px;
  font-weight: 600;
  color: #ddd;
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  background: transparent;
  width: auto;
}

.title {
  margin: 0 0 15px 0;
  text-align: center;
  color: var(--second-color);
  letter-spacing: 1px;
  font-size: 32px;
}

.icon {
  margin: 5px 7px 0 0;
  width: auto;
  height: auto;
  
}

.googleIcon {
  font-size: 25px;
  fill:rgb(187, 31, 31);
}

.facebookIcon {
  font-size: 25px;
  fill: rgb(20, 54, 134);
}

.githubIcon {
  font-size: 25px;
  fill:rgb(32, 36, 32)
}

@media(max-width: 600px) {
  .wrapper {
    row-gap: 20px;
  }
  .item {
    width: 230px;
  }
  .title {
    margin: 0 0 10px 0;
    font-size: 30px;
  }
  .button {
    font-size: 23px;
  }
  .googleIcon {
    font-size: 24px;
  }
  .facebookIcon {
    font-size: 24px;
  }
  .githubIcon {
    font-size: 24px;
  }
}

@media(max-width: 450px) {
  .wrapper {
    row-gap: 15px;
  }
  .item {
    width: 210px;
  }
  .title {
    font-size: 28px;
  }
  .button {
    font-size: 21px;
  }
  .googleIcon {
    font-size: 23px;
  }
  .facebookIcon {
    font-size: 23px;
  }
  .githubIcon {
    font-size: 23px;
  }
}

@media(max-width: 350px) {
  .wrapper {
    row-gap: 15px;
  }
  .item {
    width: 180px;
  }
  .title {
    font-size: 26px;
  }
  .button {
    font-size: 20px;
  }
  .googleIcon {
    font-size: 22px;
  }
  .facebookIcon {
    font-size: 22px;
  }
  .githubIcon {
    font-size: 22px;
  }
}