@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,800&display=swap');

:root {
  --first-color: #4FBAA7;
  --second-color: #530B43;
  --second-color-dark: #24041d;
  --third-color: #8dbaad;
  --fourth-color: #187358;
}

* {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

.wrapper {
  position: relative;
  z-index: 1000;
  height: auto;
}

.button {
  padding: 15px 70px;
  background: var(--fourth-color);
  border-radius: 5px;
  font-size: 25px;
  font-weight: 600;
  color: #ddd;
  box-sizing: border-box;
  box-shadow: none;
  border: 5px solid #ddd;
}

.button:hover,
.button:active {
  color:#fff;
  box-sizing: border-box;
  box-shadow: none;
  border: 5px solid #fff;
  background: #06503a;;
}

.avatar {
  margin:  0 auto 20px auto;
  border: 3px solid var(--fourth-color);
  width: 100px;
  height: 100px;
}

.name {
  margin: 0 0 20px 0;
  font-size: 28px;
  color: var(--second-color);
}

.email {
  margin: 0 0 65px 0;
  font-size: 20px;
  color: var(--second-color-dark);
}

@media(max-width: 767px) {
  .wrapper {
    height: 120px;
  }
  
  .button {
    width: 330px;
    height: 80px;
  }
}

@media(max-width: 600px) {
  .wrapper {
    height: 100px;
  }
  
  .button {
    font-size: 28px;
    width: 280px;
    height: 80px;
  }
}

@media(max-width: 450px) {
  .wrapper {
    height: 90px;
  }
  
  .button {
    font-size: 25px;
    width: 240px;
    height: 70px;
  }
}

@media(max-width: 350px) {
  .wrapper {
    height: 80px;
  }
  
  .button {
    font-size: 20px;
    width: 200px;
    height: 60px;
  }
}