@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,800&display=swap');

:root {
  --first-color: #4FBAA7;
  --second-color: #530B43;
  --second-color-dark: #300727;
}

* {
  margin: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

.toolbar {
  height: 86px;
  box-shadow: none;
  border-bottom: 5px solid var(--second-color);
  display: flex;
  align-items: center;
}

.logo {
  margin: 0 15px 0 0;
  fill: var(--second-color);
  width: 60px;
  height: 60px;
}

.title {
  color: var(--second-color);
  font-weight: 800;
  font-size: 50px;
  letter-spacing: 2px;
}

.button {
  width: 100px;
  height: 45px;
  background: var(--second-color);
  border-radius: 30px;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 600;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: none;
  border: none;
}

.button:hover,
.title:hover,
.logo:hover {
  fill: var(--first-color);
  color: var(--first-color);
  background: var(--second-color-dark);
}

.button:active {
  color: rgb(255, 255, 255);
  background: var(--second-color-dark);
}

.avatarWrapper {
  display: flex;
  align-items: center;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--second-color); 
}

.avatarWrapper {
  height: 100px;
  background: transparent;
  border: none;
 }


@media(max-width: 992px) {
  .toolbar {
    padding: 0 20px;
    height: 70px;
  }
  .title {
    font-size: 40px;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
  .avatar {
    width: 50px;
    height: 50px;
  }
}

@media(max-width: 767px) {
  .toolbar {
    height: 60px;
  }
  .title {
    font-size: 35px;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
  .button {
    width: 85px;
    height: 40px;
    font-size: 19px;
  }
  .avatar {
    width: 45px;
    height: 45px;
  }
}

@media(max-width: 600px) {
  .toolbar {
    height: 50px;
    border-bottom: 3px solid var(--second-color)
  }
  .title {
    font-size: 30px;
  }
  .logo {
    margin: 0 10px 0 0;
    width: 40px;
    height: 40px;
  }
  .button {
    width: 70px;
    height: 30px;
    font-size: 18px;
  }
  .avatar {
    width: 42px;
    height: 42px;
  }
}

@media(max-width: 450px) {
  .toolbar {
    height: 35px;
  }
  .title {
    font-size: 25px;
  }
  .logo {
    margin: 0 5px 0 0;
    min-width: 25px;
    min-height: 25px;
  }
  .button {
    width: 55px;
    height: 25px;
    font-size: 16px;
  }
  .avatar {
    width: 40px;
    height: 40px;
  }
}

@media(max-width: 350px) {
  .toolbar {
    padding: 0 0px;
  }
}