#root {
  padding: 0;
  overflow-y: auto;
  height: 100vh;
  background: var(--background-main-color);
}

* {
  box-sizing: border-box;
}

html[data-theme='light'] {
  --first-color: rgb(194, 219, 219);
  --first-color-light: #4e3152;
  --first-color-dark: rgb(111, 152, 152);
  --first-color-darkest:rgb(71, 98, 98);
  --second-color: #561649;
  --second-color-light: #6c1055;
  --second-color-dark: #391235;
  --fourth-color: #fff;
  --fourth-color-light: #97cdbd;
  --fifth-color: rgb(88, 78, 78);
  --text-color-light: #241b28;
  --text-color-lightest: rgb(92, 53, 94);
  --enjoy-color: red;
  --modal-color: rgba(2, 1, 14, 0.9);
  --message-color: rgb(220, 217, 220);
  --theme-selector-color: rgb(202, 173, 9);
  --background-main-color: #e3dede;
  --background-first-color: rgb(122, 124, 122);
  --background-second-color: rgb(172, 171, 190);
  --arrow-color: rgba(78, 72, 72, 0.482);
}
